<h1>Confirmation step</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    Are you <%= f.text_field :UID, :value => session[:cas_user], :readonly => true, :size => session[:cas_user].length-1 %>?
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<p>New user? <%= link_to "Click here to continue", signup_path %>.</p>
