<h1>About Team DIET</h1>
<p>
	<h4>About Gemstone</h4>

	<p>Gemstone is a four-year multidisciplinary undergraduate research program at the University of Maryland, College Park, which is sponsored by the University Honors College and the A. James Clark School of Engineering. As participants in this exclusive program, students form research teams in which they develop and execute a long-term project that contributes significant new knowledge in a field of research with the goal of solving societal problems through innovation. Gemstone focuses on research, teamwork, communication, and leadership skills, teaching students to solve problems through cooperation and creativity. The program culminates with a thesis conference in which each team’s work is presented to a panel of experts and evaluated. Successful teams have often gone on to publish their work in scholarly journals, seek patents for their designs, or implement their work to improve the community.</p>
	<p>Please visit the <a href="http://gemstone.umd.edu/">Gemstone website</a> for more information.</p>


	<h4>About us</h4>
	<p>Team DIET (Dietary Information and Evaluation Technologies) is a Gemstone project team that consists of 13 undergraduate students at the University of Maryland. Our goal is to evaluate how undergraduates’ nutritional habits and dietary self-efficacy change when they are granted access to an interactive online nutritional tracking tool that provides meaningful feedback based on their day-to-day choices. We have begun to design our online tool and it will be operational at the beginning of the Fall 2011 semester.</p>
	<p>Please visit<a href="http://teams.gemstone.umd.edu/classof2013/diet/"> our team website</a> for more information.</p>
</p>
