<h1>Frequently Asked Questions</h1>
<p>
        <br/>1. How do I make a meal?
        
        <br/><br/>To make a meal, go to your profile's 
        <u><font color="blue">Home</font></u> page and search for any 
        food or drink. 
        Select the food or drink and click <u><font color="blue">Create 
        Meal.</font></u> 
        To add foods or drinks to your meal after you have created it 
        go to "Meal History" and click <u><font color="blue">Edit Meal.
        </font></u> 
        
        <br/><br/>2. Is the data I report confidential?
        
        <br/><br/>The data you report on Team DIET Food Tracker
         as well as your personal information is confidential and will not
         be used for any released for third party use. Please review our 
         <%= link_to "Privacy Policy", '/privacy' %> for more       
         information.
        
        <br/><br/>3. How accurate is the nutritional information that I see on the DIET Food Tracker?
        
        <br/><br/> All of the nutritional information of the foods on our website are taken 
        from the <%= link_to "Myfoodapedia", 'http://www.myfoodapedia.gov/' %>  database set forth by the United States Department of Agriculture.
        The database was last updated on November 1, 2008.
        
        <br/><br/>4. Where can I get more information on the foods specifically served at the Dining Halls at the University of Maryland?
        <br/><br/>To get more information on the foods served at the University of Maryland's Dining Halls, click
        <%= link_to "here", 'http://dining.umd.edu/' %> 
        
        
        <br/><br/>5. How do I contact the members of Team DIET?
        <br/><br/>To contact the members of Team DIET email us at <u><font color="blue"> whatever@something.com.
        </font></u> 
</p>
