<h1>Frequently Asked Questions</h1>
<p>
	<div id="faq">
		<dl>
        <dt>How do I make a meal?</dt>
        
        <dd>To make a meal, go to your profile's <%= link_to "home", 'home' %> page and search for any food or drink. Select the food or drink and click <b>Create Meal</b>. To add foods or drinks to your meal after you have created it go to "Meal History" and click <b>Edit Meal</b>.</dd>
        
        <dt>Is the data I report confidential?</dt>
        
        <dd>The data you report on Team DIET Food Tracker as well as your personal information are confidential and will not be used or released to third parties. Please review our <%= link_to "Privacy Policy", '/privacy' %> for more information.</dd>
        
        <dt>How accurate is the nutritional information that I see on the DIET Food Tracker?</dt>
        
        <dd> All of the nutritional information of the foods on our website are taken from the <%= link_to "Myfoodapedia", 'http://www.myfoodapedia.gov/' %>  database set forth by the United States Department of Agriculture. The database was last updated on November 1, 2008.</dd>
        
        <dt>Where can I get more information on the foods specifically served at the Dining Halls at the University of Maryland?</dt>

        <dd>To get more information on the foods served at the University of Maryland's Dining Halls, click <%= link_to "here", 'http://dining.umd.edu/' %>.</dd>       
        
        <dt>How do I contact the members of Team DIET?</dt>

        <dd>To contact the members of Team DIET email us at <u><font color="blue"> <a href="mailto:teamdietumd@gmail.com">teamdietumd@gmail.com</a></font></u>.</dd>
			</div>
		</dl>
</p>
