

<h1>Welcome! How can we help you?</h1>
	<p>
    <div id="help">
			<ul>
				<dt><a href="#" onclick="UserVoice.showPopupWidget(); return false;">Give us your feedback!</a>
				</dt>
		    <dd>Let us know how we're doing! Report problems, bugs or feature requests here.</dd>
		
    		<dt><%= link_to "DIET Tracker Basics", '/tutorial' %></dt>
		    <dd>Getting started, account settings, searching for foods</dd>
    
		    <dt><%= link_to "Mobile Help", '/mobile' %></dt>
		    <dd>Connecting your mobile, SMS/text messaging device to DIET Tracker</dd>
		</ul>
	</div>
</p>