<h1>Welcome! How can we help you?</h1>
<p>
    
    <%= link_to "DIET Tracker Basics", 'help/tutorial' %>
    Getting started, account settings, searching for foods
    
    <u><br/><br/><font color="blue">Something's not working</font><br/></u>   
    Can't login, missing meals, food search failure
    
    <%= link_to "Report A Problem", 'help/report-a-problem' %>
    Hacked accounts, spam, privacy breach
    
    <u><br/><br/><font color="blue">Mobile Help</font><br/></u>
    Connecting your mobile, SMS/text messaging device to DIET Tracker
    
    
    <br/><br/>*format of help page taken from Twitter Help Page. Items highlighted in blue 
    would be links to other pages explaining procedures once other parts of the site are developed 

</p>

