<h1>Welcome! How can we help you?</h1>
<p>
    <div id="help">
			<ul>
    		<h3><li><%= link_to "DIET Tracker Basics", '/tutorial' %></li></h3>
		    Getting started, account settings, searching for foods
    
<<<<<<< HEAD
		    <h3><li><u><font color="blue">Something's not working</font></li></u></h3> 
		    Can't login, missing meals, food search failure
=======
    <%= link_to "DIET Tracker Basics", 'help/tutorial' %><br></br>
    Getting started, account settings, searching for foods
>>>>>>> f9d167860517cc0b750e09e36946592b1b89970b
    
				<h3><li><%= link_to "Report A Problem", '/report-a-problem' %></li></h3>
		    Hacked accounts, spam, privacy breach
    
<<<<<<< HEAD
		    <h3><li><u><font color="blue">Mobile Help</font></li></u></h3>
		    Connecting your mobile, SMS/text messaging device to DIET Tracker
    	</ul>
		</div>
		
	    <i>*format of help page taken from Twitter Help Page. Items highlighted in blue 
	    would be links to other pages explaining procedures once other parts of the site are developed</i> 
=======
    <%= link_to "Report A Problem", 'help/report-a-problem' %><br></br>
    Hacked accounts, spam, privacy breach
    
    <u><br/><br/><font color="blue">Mobile Help</font><br/></u>
    Connecting your mobile, SMS/text messaging device to DIET Tracker
    
    
    <br/><br/>*format of help page taken from Twitter Help Page. Items highlighted in blue 
    would be links to other pages explaining procedures once other parts of the site are developed 
>>>>>>> f9d167860517cc0b750e09e36946592b1b89970b
    
</p>