<h1>Welcome! How can we help you?</h1>
<p>
    <div id="help">
			<ul>
    		<h3><li><%= link_to "DIET Tracker Basics", '/tutorial' %></li></h3>
		    Getting started, account settings, searching for foods
    
		    <h3><li><u><font color="blue">Something's not working</font></li></u></h3> 
		    Can't login, missing meals, food search failure
    
				<h3><li><%= link_to "Report A Problem", '/report-a-problem' %></li></h3>
		    Hacked accounts, spam, privacy breach
    
		    <h3><li><u><font color="blue">Mobile Help</font></li></u></h3>
		    Connecting your mobile, SMS/text messaging device to DIET Tracker
    	</ul>
		</div>
		
	    <i>*format of help page taken from Twitter Help Page. Items highlighted in blue 
	    would be links to other pages explaining procedures once other parts of the site are developed</i> 
    
</p>