	<h1>Welcome</h1>
		
  <p>
    Welcome to the Diet Tracker, run by <a href="http://teams.gemstone.umd.edu/classof2013/diet/">Team DIET</a>, a junior <a href="http://gemstone.umd.edu/">Gemstone</a> team at the <a href="http://umd.edu/">University of Maryland</a>. This website is only available to students currently enrolled at the University of Maryland, College Park. Please continue by pressing the button below.
  </p>

<p> For all other inquiries, please feel free to <a href="mailto:teamdietumd@gmail.com">contact us</a>, or just click on the orange "feedback and support" button in the bottom right corner.</p>
  <p><%= link_to "Log in here",  login_path, :class => "big_green_button round" %><p>
