	<div class="four columns centered"><h1>Hi there!</h1></div>
		
  <h4>
    Welcome to the Diet Tracker, run by <a href="http://teams.gemstone.umd.edu/classof2013/diet/">Team DIET</a>, a junior <a href="http://gemstone.umd.edu/">Gemstone</a> team at the <a href="http://umd.edu/">University of Maryland</a>. This website is only available to students currently enrolled at the University of Maryland, College Park. Please continue by logging in below.
  </h4>
<br/>
<h5> <i>For all other inquiries, please feel free to <a href="mailto:teamdietumd@gmail.com">contact us</a>, or just click on the orange "feedback and support" button in the bottom right corner.</i></h5>
<br/>
<div class="four columns centered">
	  <%= link_to "Log in here",  login_path, :class => "nice large radius blue button" %>
</div>