	<h1>Welcome</h1>
	
	<strong> Note: I deleted all user accounts on July 17th in order to do update the database and fix the meal input.</strong>
	
  <p>
    Welcome to the Diet Tracker. This website is only available to students currently enrolled at the University of Maryland, College Park. Please continue by pressing the button below.
  </p>

<p> For all other inquiries, please feel free to <a href="mailto:teamdietumd@gmail.com">contact us</a>, or just click on the orange "feedback and support" button in the bottom right corner.</p>
  <p><%= link_to "Log in here",  login_path, :class => "login_button round" %><p>
