<h1>Privacy Statement</h1>

<p>The purpose of this study is to investigate the effect of an online nutritional database with regular email or text reminders on students’ self-efficacy.</p>
<p>Failure to provide the requested information will not harm the investigation but will possibly nullify your participation in the study.</p>
<p>We hold the right to inspect, amend, or correct any of given personal data with the exception of student UID numbers, for the use of this study alone.</p>
<p>The given personal information is not available to the public and will only be available to Team DIET, the research group conducting the study.</p>
<p>The given personal information, while not available to the public, may be transferred to administrative faculty of the University of Maryland who are assisting in this study.</p>

