<h1>DIET Tracker Basics</h1>

<h3>Please note that these tutorials are <i>outdated</i>. The process and much of the functionality may be the same, but the look of the website has changed drastically. We're working on new ones which should be available soon. We apologize for the inconvenience.</h3>

<p>
Diet Tracker Overview <br/><iframe src="http://player.vimeo.com/video/30322033?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe></p></a>

<p>
Editing your profile<br/><iframe src="http://player.vimeo.com/video/30351459?title=0&amp;byline=0&amp;portrait=0" width="400" height="250" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe></p></a>

<p>
Giving Feedback<br/><iframe src="http://player.vimeo.com/video/30321623?title=0&amp;byline=0&amp;portrait=0" width="400" height="193" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe></p></a>
