<h1>Add a Meal</h1><br />
<%= form_tag foods_path, :method => 'get', :id => "add_search" do %>
  <p>
    Start typing your food here: <%= text_field_tag :search, params[:search] %>
    <!-- <%= submit_tag "Search", :name => nil %> -->
  </p>
	<div id="add"><%= render 'add' %></div>
<% end %>