<% for announcement in Announcement.get_current_announcements %>
	<div class="<%= announcement.tag %> eleven columns centered">
	<span><b><%=h announcement.starts_at.strftime("%A, %B %e") %>:</b> <%= h announcement.title.html_safe %>... 
	<%= link_to "Read more", messages_path %></span>
	</div>
<% end %>