<footer>
  <nav class="round">
    <ul>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Privacy Statement", privacy_path %></li>
    </ul>
  </nav>
</footer>
