<footer>
  <div class="row">
    <div class="centered">
				<ul>
					<li><%= link_to "Help", help_path %></li> | 
					<li><%= link_to "FAQ", faq_path %></li> | 
		      <li><%= link_to "Privacy Statement", privacy_path %></li> | 
					<li><%= link_to "Terms and Conditions", terms_path %></li>
	    	</ul>
		</div>
  </div>
</footer>
